{% extends "base.html" %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome, {{ student.full_name }}!</h2>
    <p>This is your student dashboard where you can access your enrolled courses and learn from artisans.</p>
    <div class="gx-1 row">
        <div class="col">
            <div class="card col" style="width: 25rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card col" style="width: 25rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card col" style="width: 25rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
            

    
</div>
{% endblock %}
